$black: #000;
$white: #fff;
$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #969799;
$gray-7: #646566;
$gray-8: #323233;
$green: #07c160;
$blue: #1989fa;
$red: #ee0a24;
$orange: #ff976a;
$colors: () !default;
$colors: map-merge(
		(
			"blue": $blue,
			"red": $red,
			"orange": $orange,
			"green": $green,
			"white": $white,
		),
		$colors
);
$primary: $green;
$info: $blue;
$danger: $red;
$warning: $orange;
$theme-colors: () !default;
$theme-colors: map-merge(
		(
			"primary": $primary,
			"info": $info,
			"warning": $warning,
			"danger": $danger,
		),
		$theme-colors
);

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-8 !default;
$yiq-text-light: $white !default;
// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

// Border
$border-color: $gray-3;
$border-width-base: 1px;
$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-max: 999px;

// Component Colors
$text-color: $gray-8;
$active-color: $gray-2;
$active-opacity: .7;
$disabled-opacity: .5;
$background-color: $gray-1;
$background-color-light: #fafafa;

// Font
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-weight-bold: 500;

// Padding
$padding-base: 4px;
$padding-xs: $padding-base * 2;
$padding-sm: $padding-base * 3;
$padding-md: $padding-base * 4;
$padding-lg: $padding-base * 6;
$padding-xl: $padding-base * 8;

// Animation
$animation-duration-base: .3s;
$animation-duration-fast: .2s;

// cell
$cell-font-size: $font-size-md;
$cell-line-height: 24px;
$cell-vertical-padding: 10px;
$cell-horizontal-padding: $padding-md;
$cell-text-color: $text-color;
$cell-background-color: $white;
$cell-border-color: $border-color;
$cell-active-color: $active-color;
$cell-required-color: $red;
$cell-label-color: $gray-6;
$cell-label-font-size: $font-size-sm;
$cell-label-line-height: 18px;
$cell-label-margin-top: 3px;
$cell-value-color: $gray-6;
$cell-icon-size: 16px;
$cell-right-icon-color: $gray-6;
$cell-large-vertical-padding: $padding-sm;
$cell-large-title-font-size: $font-size-lg;
$cell-large-label-font-size: $font-size-md;

// CellGroup
$cell-group-background-color: $white;
$cell-group-title-color: $gray-6;
$cell-group-title-padding: $padding-md $padding-md $padding-xs;
$cell-group-title-font-size: $font-size-md;
$cell-group-title-line-height: 16px;

// Field
$field-input-text-color: $text-color;
$field-input-error-text-color: $red;
$field-input-disabled-text-color: $gray-6;
$field-placeholder-text-color: $gray-6;
$field-clear-icon-color: $gray-5;
$field-icon-container-color: $gray-6;
$field-error-message-color: $red;
$field-error-message-text-font-size: $font-size-sm;
$field-text-area-min-height: 18px;

// Uploader
$uploader-size: 80px;
$uploader-icon-size: 24px;
$uploader-icon-color: $gray-6;
$uploader-text-color: $gray-6;
$uploader-text-font-size: $font-size-sm;
$uploader-upload-border-color: $gray-3;
$uploader-upload-border-radius: 4px;
$uploader-upload-background-color: $white;
$uploader-delete-color: $gray-6;
$uploader-delete-icon-size: 18px;
$uploader-delete-background-color: $white;
$uploader-file-background-color: $background-color;
$uploader-file-icon-size: 20px;
$uploader-file-icon-color: $gray-7;
$uploader-file-name-font-size: $font-size-sm;
$uploader-file-name-text-color: $gray-7;

// Overlay
$overlay-background-color: rgba(0, 0, 0, 0.7);

$PREFIX: ".uv-";
