/* 通用 */
.uv-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 按钮 */
.uv-btn-icon {
  display: inline-flex !important;
  min-width: 1em;
  vertical-align: top;
  line-height: inherit !important;
}
/* 图标 */
.uv-icon-info {
  z-index: 1;
}
/* 单元格 */
.uv-cell-hover {
  background-color: #f2f3f5;
}
.uv-cell_left-icon {
  vertical-align: middle;
  line-height: 20px;
}
.uv-cell_right-icon {
  display: inline-flex !important;
  align-items: center;
  margin-left: 5px;
  color: #969799;
  line-height: 20px;
}
.uv-cell_left-icon-wrap,
.uv-cell_right-icon-wrap {
  display: flex;
  align-items: center;
  height: 24px;
  font-size: 16px;
}

.uv-cell_left-icon-wrap {
  margin-right: 5px;
}
/* 输入框 */
.uv-field_icon-root {
  display: flex;
  align-items: center;
  min-height: 24px;
}
.uv-field_clear-root {
  color: #c8c9cc;
}
.uv-field_icon-container {
  color: #969799;
}
.uv-field_clear-root {
  flex-shrink: 0;
  margin-right: -8px;
  padding: 0 8px;
  vertical-align: middle;
  line-height: inherit;
}
.uv-field-placeholder {
  position: absolute;
  /* 兼容uni-h5 */
  /* #ifdef MP */
  top: 0;
  /* #endif */
  right: 0;
  left: 0;
  pointer-events: none;
  color: #969799;
}
.uv-field-placeholder-error {
  color: #ee0a24;
}
/* 标签栏 */
.uv-tab_title-info {
  position: relative !important;
  top: -1px !important;
  display: inline-block;
  transform: translateX(0) !important;
}
.uv-tabs-line {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 3px;
  border-radius: 3px;
  background-color: #ee0a24;
}
/* 弹出框 */
.uv-popup_close-icon {
  position: absolute !important;
  z-index: 1;
  color: #969799;
  font-size: 18px;
}
.uv-popup_close-icon-top-left {
  top: 16px;
  left: 16px;
}
.uv-popup_close-icon-top-right {
  top: 16px;
  right: 16px;
}
.uv-popup_close-icon-bottom-left {
  bottom: 16px;
  left: 16px;
}
.uv-popup_close-icon-bottom-right {
  right: 16px;
  bottom: 16px;
}
.uv-popup_close-icon:active {
  opacity: 0.6;
}
.uv-uploader-upload-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #969799;
  font-size: 24px;
}
.uv-uploader-preview-delete {
  position: absolute !important;
  top: 0;
  right: 0;
  transform: translate3d(50%, -50%, 0);
  color: #969799;
  border-radius: 100%;
  background-color: #fff;
  font-size: 18px;
}
.uv-uploader-preview-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #646566;
  font-size: 20px;
}
/* 遮罩 */
.uv-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
/* 业务组件-结果页 */
.uv-result_icon-success {
  color: #07c160;
}
.uv-result_icon-info {
  color: #1989fa;
}
.uv-result_icon-warning {
  color: #ff976a;
}
.uv-result_icon-danger {
  color: #ee0a24;
}
